/* Importando fontes personalizadas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@400;500;700;900&display=swap');

/* Raíz de Estilo*/
:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --background: #d7ffea;

  --fonte-site: 'Roboto', sans-serif;
  --fonte-especial: 'Concert One', cursive; 
}

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: var(--fonte-site);
  font-size: 1.0em;
}

.title {
  font-family: var(--fonte-especial);
  color: var(--cor0);
  margin: 0;
  text-align: left;

}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  position: fixed;
  top: 0;
  width: 100%;
}

.logo,
.header-text {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  margin: 2.0em;
}

.logo img {
  width: 4.0em;
  height: auto;/
}

h1 {
  text-transform: uppercase;
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

nav {
  background-color: var(--cor5);
  color: #fff;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);
}

.menu li {
  display: inline;
  padding: 1.0em;
}

.menu li a {
  color: var(--cor0);
  text-decoration: none;
}

.menu li a:hover {
  color: var(--cor3);
  text-decoration: underline;
}

main {
  padding-top: 170px;
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 20px 0;
}

#imgasods, #videoasods, p {
  margin: 20px 0;
  text-align: center;
}

main p {
  text-align: justify;
  text-indent: 30px;
  line-height: 1.5em;
}

.links:hover {
  background-color: var(--cor2);
  color: var(--cor4);
  text-decoration: underline;
}
.links:hover {
  background-color: var(--cor2);
  color: var(--cor4);
  text-decoration: underline;
}

.links:visited {
  background-color: var(--cor2);
  color: var(--cor4);
  text-decoration: underline;
}

.video {
  position: relative;
  background-color: var(--cor5);
  padding-bottom: 35%;
  
}

iframe {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 60%;
  height: 90%;
}

/*Aside*/
aside {
  background-color: var(--cor2);
  padding: 10px;
  border-radius: 10px;
}

aside h3 {
  padding: 10px;
  color: var(--cor5);
}

aside ol {
  list-style-position: inside;
  columns: 2;
}

aside ol li a{
  color: var(--cor4);
  text-decoration: none;
}

aside ol li a:hover {
  color: var(--background);
  text-decoration: underline;
}

aside ol li a:visited {
  color: var(--cor5);
  text-decoration: underline;
}

/* Rodapé */

footer {
  background-color: var(--cor5);
  color: var(--cor0);
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
}

footer a {
  color: var(--cor0);
  font-weight: bolder;
  text-decoration: none; 
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor3);
}